* {
    margin: 0;
}
@font-face{
    font-family: 'Kollegan';
    src: url('Kollegan.otf');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #f4f4f4;
    font-family:sans-serif;
    color: white;
}
.racial{
    padding: 20px;
    background-color: #304878;
    text-align: center;
    font-size: 40px;
    color: white;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Kollegan', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 80px;
    text-align: center;
}
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: -10px;
    font-family: 'Kollegan', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center; 
}
img{
    margin-top: 100px;
    width: 400px;
    height: 600px;
    padding: 18px 30px;
    margin-left: 10px;
    margin-bottom: 100px;
}
footer{
    text-align: center;
    font-family:sans-serif;
    background-color:#304878;
    padding: 20px;
}
@media (max-width: 780px) {
    img{
    margin: 50px auto;
    width: 90%;
    max-width: 300px;
    height: auto;
    padding: 10px 15px;
    row-gap: 20px;
    column-gap: 20px;
    }
    .racial{
    padding: 10px;
    font-size: 20px;
    }
    h3{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: -5px;
    font-size: 20px;
    }
    h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 40px;
    }
}
@media (max-width: 480px) {
    img {
    display:block;
    margin: 50px auto 50px auto;
    width: 200px;
    height: 300px;
    padding: 9px 15px;
    }
}